
@charset "utf-8";
/* CSS Document */
/*样式重置*/
*{margin:0px;padding:0px;list-style:none;text-decoration:none;font-family:"微软雅黑", "宋体", "黑体";font-weight:normal;}
/*页头*/
#headCon{
    min-width:1200px;}
#headCon>div{
    width:1200px;
    margin:auto;
    margin-top:10px;
    overflow:hidden;
}
#headCon>div>p{
    float:left;
    font-size:14px;
    color:#999;}
#headCon>div>ol{
    width:300px;
    float:right;
    overflow:hidden;}
#headCon>div>ol>li{
    overflow:hidden;
    float:left;}
#headCon>div>ol>li>a{
    font-size:14px;
    color:#999;
    float:left;
    margin-right:10px;
}
#headCon>div>ol>li>a:hover{
    color:#fb0000;}
#headCon>div>ol>a{
    width:76px;
    height:14px;
    text-align:center;
    line-height:14px;
    float:left;
    font-size:14px;
    color:#999;
    border-left:1px solid #a1a1a1;
    border-right:1px solid #a1a1a1;
    margin-top:3px;}
#headCon>div>ol>a:hover{
    color:#fb0000;}
#headCon>div>ol>.shoppingCar{
    margin-left:10px;
    width:120px;
    border:none;
    height:20px;
    float:left;
    overflow:hidden;}
#headCon>div>ol>.shoppingCar>i{
    float:left;
    width:22px;
    height:18px;
    vertical-align:middle;
    background:url(../images/sprite.png) no-repeat 0px 0px;}
#headCon>div>ol>.shoppingCar>span{
    float:left;
    margin-left:10px;}
#headCon>ul{
    width:1200px;
    margin:auto;
    overflow:hidden;
    margin-top:30px;}
#headCon>ul>a{
    float:left;}
#headCon>ul>a>li{
    width:92px;
    height:63px;
    background:url(../images/sprite.png) no-repeat -22px 0px;}
#headCon>ul>ol{
    float:left;
    overflow:hidden;
    margin-left:180px;}
#headCon>ul>ol>li{
    float:left;
    margin-top:25px;
    margin-right:40px;}
#headCon>ul>ol>li>a{
    font-size:18px;
    color:#4c4c4c;}
#headCon>ul>ol>li>a:hover{
    color:#fb0000;}
#headCon>ul>ol>li>.first{
    color:#fb0000;}
#headCon>ul>ol>.search{
    margin-top:10px;
    margin-left:90px;}
#headCon>ul>ol>.search>input{
    width:254px;
    height:40px;
    border:1px solid #fb0000;
    border-radius:20px;
    outline:none;
    color:#999;
    padding-left:16px;
    font-size:16px;}


.content ul li{
    width: 900px;
    height: 155px;
    background-color: #fafafa;
    margin: 0px;
    list-style-type:none;
    border-bottom: 1px solid rgba(126, 122, 122, 0.185);
}
.content ul li img{
    margin: 20px 30px 20px 10px;
    vertical-align: middle;
}

.content .imga{
    float: left;
    width: 220px;
    height: 155px;
}

.content .info{
    float: left;
    width: 490px;
    height: 155px;
}
.content .info span{
    display: inline-block;
    line-height: 2em;
}

.content .info .name{
    padding: 15px 0 0 0;
}

.content .price{
    float: right;
    width: 180px;
    height: 155px;
}
.content .price span{
    font-size: 40px;
    color: red;
    vertical-align: middle;
    line-height: 3.5em;
}
.content .price em{
    font-family:SimSun;
    font-style: italic;
    vertical-align: middle;
    margin: 0 0 0 4px;
}
.content .price a{
    line-height: 0;
    text-decoration:none;
    margin-right: 15px;
    float: right;
}
.content .info .name{
    font-size: 20px;
    font-weight: 900;
}
.content .info .size,.location{
    color: #a5a5b2;
    font-size: 12px;
}